
.todo-item {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 20px 15px;
    justify-content: space-between;
    background-color: white;

    &__buttons-container {
        display: flex;
        gap: 5px;
    }

    &__input {
        flex-grow: 1;
        border: none;
        padding: 8px 4px;

        &, &:hover {
            border: none;
            outline: none;
        } 

        &:focus {
            border: 1px solid black;
        } 
    }
}
